@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Raleway:200');

h1 {
	font-family: 'IM Fell French Canon SC', serif;
	font-size: 4rem;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
}

html, body {
	height: 100%;
}

#landing-container {
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 575.98px) {
	#landing-container {
		background-image: url("/assets/img/background_576.jpg");
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	#landing-container {
		background-image: url("/assets/img/background_768.jpg");
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	#landing-container {
		background-image: url("/assets/img/background_992.jpg");
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	#landing-container {
		background-image: url("/assets/img/background_1200.jpg");
	}
}
@media (min-width: 1200px)  and (max-width: 2559.98px) {
	#landing-container {
		background-image: url("/assets/img/background_2560.jpg");
	}
}
@media (min-width: 2560px) {
	#landing-container {
		background-image: url("/assets/img/background.jpg");
	}
}


#main-row {
	height: 100%;
}

#header {
	background: rgb(30, 30, 30); /* fallback in case no alpha supported */
	background: rgba(30, 30, 30, 0.85); 
	color: #EEEEEE;
	padding: 1rem;
}

#header, a {
	color: #EEEEEE;
}
a, .icons {
	padding: 1rem;
	font-size: 1.5rem;
}
a:hover {
	color: #FFFFFF;
}

@media (min-width: 576px) {
	#header {
		margin: 0 5% 0 5%;
	}
}
